body{
  background-color:rgb(73, 73, 73);
  margin: 0;
  overflow: hidden;
}

h1{
  color: aliceblue;
  font-size: 100px;
  display: block;
  text-align: center;

}

#button {
  position: absolute;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}
.kedi{
  width: 200px;
}